#footer{
  background-color: #1e1e1e;
  color: #fff;
}
.whatsapp-icon{
  position: fixed;
  bottom: 50px;
  right: 50px;
}

@media (max-width:576.98px){
  .whatsapp-icon{
    bottom: 25px;
    right: 25px;
  }
}