body {
  margin: 0px auto !important;
  font-family: Monospace;
  color: #111111;
  max-width: 1320px;

}

h1,
h2,
h3,
h4,
ul,
p,
blockquote,
dd {
  margin: 0px !important;
}

ul {
  padding: 0px !important;
  list-style: none;
}

a {
  text-decoration: none !important;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
